{% extends "base.html" %}

{% block header %}
<title>CLgen</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">

      <h3>Select a Model to inspect</h3>
      <p>Current Workspaces</p>

      <ul>
        {% for workspace in data.workspaces %}
        <li class="workspace">
          <b>{{ data.workspaces[workspace].name }}</b><br>
        </li>

        <ul>
          {% for corpus in data.workspaces[workspace].corpuses %}
          <li class="corpus">
            <a href="/corpus/{{corpus.sha}}/">
              <b>{{ corpus.summary }}</b><br>
            </a>
          </li>


        <ul>
          {% for model in data.workspaces[workspace].models %}
          <li class="model">
              <b>{{ model.summary }}</b><br>
            <ul>
              <a href="/corpus/{{corpus.sha}}/model/{{model.sha}}/specs">[Model Specs]</a>
              <a href="/corpus/{{corpus.sha}}/model/{{model.sha}}/validation">[Validation]</a>
              <a href="/corpus/{{corpus.sha}}/model/{{model.sha}}/sampling">[Sampling]</a>
            </ul>
          </li>
          {% endfor %}
        </ul>

          {% endfor %}
        </ul>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
