{% extends "base.html" %}

{% block header %}
<title>Model Samplers</title>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col">

  <h3>Available model samplers</h3>

  <ul>
    {% for sampler in data.samplers %}
    <li class="sampler">
      <b>{{sampler.summary}}, {{sampler.sha}}</b><br>
        <a href="/{{data.workspace}}/sampler/{{sampler.sha}}/sampler_specs">[Sampler Specs]</a>
        {% for sample_db in sampler.sample_dbs %}
        <a href="/{{data.workspace}}/model/{{data.model_sha}}/sampler/{{sampler.sha}}/{{sample_db}}">[{{sample_db}}]</a>
        {% endfor %}
    </li>
    <br>
    {% endfor %}
  </ul>
</div>
</div>
</div>
{% endblock %}
