{% extends "base.html" %}

{% block header %}
<title>Training Status</title>
{% endblock %}

{% block body %}
<head> 
	<meta http-equiv="refresh" content="180"> 
<div class="container">
<div class="row">
<div class="col">

  <p class="config"><a href="/{{data.workspace}}/model/{{data.model_sha}}/model_specs" style="color:pink">[Model Specs]</a></p><br>

  <h3>Model: {{data.summary}}, {{data.model_sha}}<br></h3>
  <h3>Model training status<br><br><br></h3>

  {% for plot in data.plots %}
    <img src="{{plot}}" width = "700">
    <span class="config"><br><br><br><br><br></span>
  {% endfor %}

</div>
</div>
</div>
</head> 
{% endblock %}
