{% extends "base.html" %}
 
{% block body %}
<div class="container">
<div class="row">
<div class="col">

  <p class="config">I am expecting validation code here<br></p>
    {% for val in data.val_samples %}
        <p class = "code">{{val.original_input}}</p>

      {% for chunk in val.input_ids %}
        {%- if chunk.color=="plain" -%}
          <span class="code">{{chunk.text}}</span>
        {%- elif chunk.color=="mask" -%}
          <span class = "mask">{{chunk.text}}</span>
        {%- elif chunk.color=="prediction" -%}
          <span class = "prediction">{{chunk.text}}</span>
        {%- elif chunk.color=="target" -%}
          <span class = "target">{{chunk.text}}</span>
        {%- else -%}
          {{chunk.text}}
        {%- endif -%}
      {% endfor %}

    {% endfor %}

</div>
</div>
</div>
{% endblock %}
