# Binary symbolic links
/benchpress

# Build folders
*__pycache__*
*build/
*env/

# Build files
*pyc
*_pb2.py

# Model folders
/workspace

# Big corpus folders
/model_zoo/corpus/*.tar.bz2
/model_zoo/corpus/*.tar
/model_zoo/corpus/*.db
