# Binary symbolic links
/clgen

# Build folders
*__pycache__*
*build/
/build*/
*env/

# Temp protobufs outside model zoo or workbench
/*.pbtxt

# Build files
*pyc
*_pb2.py
*DS_Store

# Working folders
/workspace

# Large corpus files
/model_zoo/corpus/*.tar
/model_zoo/corpus/*.tar.bz2
/model_zoo/corpus/*.db

# Large benchmarks suites
/model_zoo/benchmarks/*.tar
/model_zoo/benchmarks/*.tar.bz2
/model_zoo/corpus/*.db
