<h1>Server Status: {{data['work_flag']}}<br><br></h1>

<h2> Read Queue: {{data['read_queue']}}<br><br></h2>
<h2> Read Queue size: {{data['read_queue_size']}}<br><br></h2>


<h1>Write Queues: <br><br></h1>
{% for key, value in data['out_servers'].items() %}
  <h2>{{key}}</h2>
  <p>
    write_queue: {{value['write_queue']}}<br>
    write_queue_size: {{value['write_queue_size']}}<br>
    reject_queue: {{value['reject_queue']}}<br>
    reject_queue_size: {{value['reject_queue_size']}}<br>
  </p>
{% endfor %}
