{% extends "base.html" %}

{% block header %}
<title>CLgen</title>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col">

  <h3>Select a Model to inspect</h3>
  <p>Current Workspaces</p>

  <ul>
    {% for workspace in data.workspaces %}
    <li class="workspace">
      <b>{{ data.workspaces[workspace].name }}</b><br>
    </li>

    <ul>
      <p><b>Corpus</b></p>
      <ul>
        {% for corpus in data.workspaces[workspace].corpuses %}
        <li class="corpus">
          <a href="/{{data.workspaces[workspace].name}}/corpus/{{corpus.sha}}/" style="color:pink">
            <b>{{ corpus.summary }}</b><br>
          </a>
        </li>
        <p><b>Models</b></p>
        <ul>
          {% for model in corpus.models %}
          <li class="model">
            {{model.summary}}, {{model.sha}}<br>
            <a href="/{{data.workspaces[workspace].name}}/model/{{model.sha}}/model_specs" style="color:pink">[Model Specs]</a>
            <a href="/{{data.workspaces[workspace].name}}/model/{{model.sha}}/dataset" style="color:pink">[Dataset]</a>
            <a href="/{{data.workspaces[workspace].name}}/model/{{model.sha}}/training" style="color:pink">[Training]</a>
            <a href="/{{data.workspaces[workspace].name}}/model/{{model.sha}}/validation" style="color:pink">[Validation]</a>
            <a href="/{{data.workspaces[workspace].name}}/model/{{model.sha}}/sampling" style="color:pink">[Sampling]</a>
            <br><br>
          </li>
          {% endfor %}
        </ul>

      </ul>
      {% endfor %}
    </ul>

    <ul>

      <br>
    </ul>
    <br>
    {% endfor %}
  </ul>
</div>
</div>
</div>
{% endblock %}
