{% extends "base.html" %}
 
{% block body %}
<div class="code_container">
<div class="row">
<div class="col">

  <p class="config"><a href="/{{data.workspace}}/model/{{data.model_sha}}/model_specs" style="color:pink">[Model Specs]</a><br></p>

    <p class="config">Model: {{data.summary}}, {{data.model_sha}}<br><br></p>
    {%- for sample in data.samples -%}
      <span class="config"><b><br><br>Sample feed:</b><br><br></span>

      {%- for chunk in sample.sample_feed -%}
        {%- if chunk.color=="plain" -%}
          <span class="code">{{chunk.text}}</span>
        {%- elif chunk.color=="mask" -%}
          <span class = "mask">{{chunk.text}}</span>
        {%- elif chunk.color=="prediction" -%}
          <span class = "prediction">{{chunk.text}}</span>
        {%- elif chunk.color=="target" -%}
          <span class = "target">{{chunk.text}}</span>
        {%- else -%}
          {{chunk.text}}
        {%- endif -%}
      {%- endfor -%}
      <span class="config"><br><br><b>Sample:</b><br><br></span>
      {%- for chunk in sample.sample_indices -%}
        {%- if chunk.color=="plain" -%}
          <span class="code">{{chunk.text}}</span>
        {%- elif chunk.color=="prediction" -%}
          <span class = "prediction">{{chunk.text}}</span>
        {%- elif chunk.color=="target" -%}
          <span class = "target">{{chunk.text}}</span>
        {%- else -%}
          {{chunk.text}}
        {%- endif -%}
      {%- endfor -%}<br>

      <span class="config"><b>
        <br>id: {{sample.id}}
number of targets: {{sample.num_targets}}
Compiles?: {{sample.compile_status}}
with categorical sampling?: {{sample.categorical_sampling}}
model training step: {{sample.train_step}}
number of tokens: {{sample.num_tokens}}
sample_time: {{sample.sample_time_ms}} ms
sample hash: {{sample.sha256}}
date added: {{sample.date_added}}</b>
      </span>
      <p class="config"><hr></p>


    {%- endfor -%}


</div>
</div>
</div>
{% endblock %}
