{% extends "base.html" %}
 
{% block body %}
<div class="code_container">
<div class="row">
<div class="col">

  <p class="config"><a href="/{{data.workspace}}/model/{{data.model_sha}}/model_specs" style="color:pink">[Model Specs]</a></p><br><br><br>
  	<p class="config">Model: {{data.summary}}, {{data.model_sha}}<br><br></p>
    {% for met in data.val_metrics %}
      <span class="config"><b>{{met.key}}:</b><br>{{met.results}}<br><br></span>
    {% endfor %}

    {% for val in data.val_samples %}
        <p class = "code">Original input:<br><br>{{val.original_input}}<br><br><br>Validation sample: <br><br></p>

      {%- for chunk in val.input_ids -%}
        {%- if chunk.color=="plain" -%}
          <span class="code">{{chunk.text}}</span>
        {%- elif chunk.color=="hole" -%}
          <span class = "mask">{{chunk.text}}</span>
          <span class = "mask_length">({{chunk.length}})</span>
        {%- elif chunk.color=="mask" -%}
          <span class = "mask">{{chunk.text}}</span>
        {%- elif chunk.color=="prediction" -%}
          <span class = "prediction">{{chunk.text}}</span>
        {%- elif chunk.color=="target" -%}
          <span class = "target">{{chunk.text}}</span>
        {%- else -%}
          {{chunk.text}}
        {%- endif -%}
      {%- endfor -%}
      <span class="config"><b>
        <br>id: {{val.id}}
number of targets: {{val.num_targets}}
model training step: {{val.train_step}}
seen in training?: {{val.seen_in_training}}
val hash: {{val.sha256}}
date added: {{val.date_added}}</b>
      </span>
      <p class="config"><hr></p>

    {% endfor %}

</div>
</div>
</div>
{% endblock %}
